In [38]:
import pandas as pd
import glob
import spacy
import nltk

In [38]:
txt_files = glob.glob('./data/en_US/*.txt')

data = pd.DataFrame()

for file in txt_files:
    file_name = file.split('.')[2]
    tmp = pd.read_table(file, header=None)
    tmp['source'] = file_name
    data = pd.concat((data, tmp), axis=0)

data.columns = ['text', 'source']

                                                text source
0  In the years thereafter, most of the Oil field...  blogs
1                             We love you Mr. Brown.  blogs
2  Chad has been awesome with the kids and holdin...  blogs
3  so anyways, i am going to share some home deco...  blogs
4  With graduation season right around the corner...  blogs